@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: 34 32 193;
  --color-grey: 124 124 124;
  --color-light-grey: 197 197 197;
  --color-red: 255 60 0;
}

body {
  color: black;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* Hacks */

@media (hover: none) {
  @supports (-webkit-touch-callout: none) {
    .safari-ios-text-hack {
      padding-top: 2px;
    }
  }
}

@-moz-document url-prefix() {
  .audio-bg {
    background-color: #333;
  }
}

.gm-style iframe + div {
  border: none !important; /* Remove blue border on drag */
}

/* Safe areas */

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.p-safe {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

/* Slider */

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Gems */

.selected-gem .gem-icon-category {
  color: white !important;
}

/* Audio player */

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}

/* Forms */

.placeholder-opacity::placeholder {
  opacity: 0.2;
}

.text-gradient {
  background-image: linear-gradient(0deg, rgba(28,28,28,1) 0%, rgba(28,28,28,0.6) 50%, rgba(0,0,0,0) 100%);
}

/* Map InfoWindow */

.gm-style .gm-style-iw-a {
  /*background-color: #2220c1;*/
  color: black;
}

.gm-style .gm-style-iw-t {
  color: black;
}

.gm-style .gm-style-iw-c {
  padding: 0;
}
.gm-style-iw-d { /* very important for Safari/WebKit engine */
  overflow: hidden !important;
}

.gm-style .gm-style-iw-tc { /* pointer */
  background-color: transparent;
  /*&:after {
    background-color: #2220c1;
  }*/
}

.gm-style .gm-style-iw-ch {
  display: none;
}

.gm-style .gm-style-iw-chr {
  display: block;
  position: absolute;
  width: 210px;
  top: 0;
  left: 0;
  z-index: 100;
}

.gm-style .gm-style-iw-chr button {
  display: block;
  float: right;
  width: 36px !important;
  height: 36px !important;
  margin: 7px !important;
  background-color: white !important;
  border-radius: 20px;
  opacity: 80%;
}
.gm-style .gm-style-iw-chr button span {
  text-align: center;
  width: 24px;
  height: 24px;
  margin: 6px !important;
  color: #616161;
}