@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: rgb(34, 32, 193);
  --color-grey: rgb(124, 124, 124);
  --color-light-grey: rgb(197, 197, 197);
  --color-extra-light-grey: rgb(238, 238, 238);
  --color-red: rgb(255, 60, 0);
}

html,
body,
#__next {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: black;
  background-image: url("/img/blue.png"); /* Hack to avoid weird bottom gap on iPhone with notch/island */
}

* {
  outline: none;
}

/* Slider */

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Gems */

.selected-gem .gem-icon-bg {
  fill: var(--color-blue) !important;
}

.selected-gem .gem-icon-symbol {
  fill: white;
}

/* Audio player */

audio::-webkit-media-controls-enclosure {
  border-radius: 0;
}
