@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: 34, 32, 193;
  --color-mid-grey: 124, 124, 124;
  --color-light-grey: 197, 197, 197;
  --color-red: 255, 60, 0;
}

html,
body {
  height: 100%;
}

body {
  color: black;
  background: white;
}
